body {
    background-color: aqua;
    padding: 10px;
    font-size: 30px;
    align-content: center;
}

div {
    background-color: chartreuse;
    width: 49%;
    font-size: 30px;
    margin: 10px;
}
button {
    background-color: crimson;
    font-size: 30px;
    margin: 10px;
}   
input {
    font-size: 30px;
    background-color: indianred;
    margin: 10px;
}

#div-align { margin-left: 600px;
    margin-top: -720px;
       background-color: aqua;
}

#div-div {
   background-color: aqua;
}
   
